<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h2>About our company</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae ipsam minus reprehenderit, sit laborum dicta distinctio praesentium debitis voluptates harum repellat rem eos consequatur aspernatur culpa delectus sed eaque labore!</p>
</body>
</html>